Repository mousebird-consulting-inc/WhirlyGlobe, pull requests merged in 2022-01, with the labels that each got.

#1482 Fix a few potential memory leaks
  common/WhirlyGlobeLib/include/ChangeRequest.h
  common/WhirlyGlobeLib/src/ChangeRequest.cpp
  common/WhirlyGlobeLib/src/QuadImageFrameLoader.cpp
  common/WhirlyGlobeLib/src/QuadLoaderReturn.cpp
  ios/library/WhirlyGlobe-MaplyComponent/src/loading/MaplyQuadLoader.mm
  ios/library/WhirlyGlobe-MaplyComponent/src/vector_tiles/MapboxVectorInterpreter.mm
  ios/library/WhirlyGlobeLib/src/LayerThread.mm
Labels: Android, bug, iOS

#1483 Topic/sqlite cache
  ios/apps/AutoTester/AutoTester/testCases/GeographyClass.swift
  ios/library/WhirlyGlobe-MaplyComponent/include/data_sources/MaplyMBTileFetcher.h
  ios/library/WhirlyGlobe-MaplyComponent/include/private/sqlhelpers.h
  ios/library/WhirlyGlobe-MaplyComponent/src/data_sources/MaplyMBTileFetcher.mm
  ios/library/WhirlyGlobe-MaplyComponent/src/helpers/sqlhelpers.mm
Labels: iOS, improvement

#1485 Topic/poly act support
  android/apps/AutoTesterAndroid/app/src/main/java/com/mousebirdconsulting/autotester/TestCases/CartoTestCase.kt
  android/apps/AutoTesterAndroid/app/src/main/java/com/mousebirdconsulting/autotester/TestCases/SimpleStyleTestCase.kt
  android/apps/AutoTesterAndroid/app/src/main/java/com/mousebirdconsulting/autotester/TestCases/TextureVectorTestCase.kt
  android/apps/AutoTesterAndroid/app/src/main/java/com/mousebirdconsulting/autotester/TestCases/VectorsTestCase.kt
  android/apps/AutoTesterAndroid/app/src/main/java/com/mousebirdconsulting/autotester/TestCases/WideVectorsTestCase.java
  android/apps/AutoTesterAndroid/app/src/main/java/com/mousebirdconsulting/autotester/TestCases/WideVectorsTestCase.kt
  android/library/maply/jni/include/classInfo/Maply_jni.h
  android/library/maply/jni/include/generated/com_mousebird_maply_VectorObject.h
  android/library/maply/jni/src/quadLoading/QIFBatchOps_jni.cpp
  android/library/maply/jni/src/scene/ChangeSet_jni.cpp
  android/library/maply/jni/src/vectors/VectorInfo_jni.cpp
  android/library/maply/jni/src/vectors/VectorObject_jni.cpp
  android/library/maply/jni/src/vectors/WideVectorInfo_jni.cpp
  android/library/maply/src/main/java/com/mousebird/maply/BaseController.java
  android/library/maply/src/main/java/com/mousebird/maply/BaseInfo.java
  android/library/maply/src/main/java/com/mousebird/maply/ChangeSet.java
  android/library/maply/src/main/java/com/mousebird/maply/ImageLoaderInterpreter.java
  android/library/maply/src/main/java/com/mousebird/maply/LayerThread.java
  android/library/maply/src/main/java/com/mousebird/maply/LayoutLayer.java
  android/library/maply/src/main/java/com/mousebird/maply/LoaderInterpreter.java
  android/library/maply/src/main/java/com/mousebird/maply/MapboxVectorInterpreter.java
  android/library/maply/src/main/java/com/mousebird/maply/Mbr.java
  android/library/maply/src/main/java/com/mousebird/maply/QIFBatchOps.java
  android/library/maply/src/main/java/com/mousebird/maply/QuadLoaderBase.java
  android/library/maply/src/main/java/com/mousebird/maply/QuadSamplingLayer.java
  android/library/maply/src/main/java/com/mousebird/maply/RawPNGImageLoaderInterpreter.java
  android/library/maply/src/main/java/com/mousebird/maply/RenderController.java
  android/library/maply/src/main/java/com/mousebird/maply/SimpleStyleManager.kt
  android/library/maply/src/main/java/com/mousebird/maply/UpdateLayer.java
  android/library/maply/src/main/java/com/mousebird/maply/VectorInfo.java
  android/library/maply/src/main/java/com/mousebird/maply/VectorObject.java
  android/library/maply/src/main/java/com/mousebird/maply/WideVectorInfo.java
  common/WhirlyGlobeLib/include/GeographicLib.h
  common/WhirlyGlobeLib/include/VectorManager.h
  common/WhirlyGlobeLib/include/VectorObject.h
  common/WhirlyGlobeLib/include/WideVectorDrawableBuilder.h
  common/WhirlyGlobeLib/include/WideVectorManager.h
  common/WhirlyGlobeLib/src/CMakeLists.txt
  common/WhirlyGlobeLib/src/GeographicLib.cpp
  common/WhirlyGlobeLib/src/VectorObject.cpp
  common/WhirlyGlobeLib/src/WideVectorDrawableBuilder.cpp
  common/WhirlyGlobeLib/src/WideVectorManager.cpp
  ios/apps/AutoTester/AutoTester/testCases/VectorsTestCase.mm
  ios/library/WhirlyGlobe-MaplyComponent/WhirlyGlobeMaplyComponent.xcodeproj/project.pbxproj
  ios/library/WhirlyGlobeLib/include/QuadImageFrameLoader_iOS.h
  ios/library/WhirlyGlobeLib/src/GeographicLib.mm
Labels: Android, iOS, improvement

#1491 Change objectsAtCoord in MaplyBaseViewController to search for markers, labels and vector objects
  ios/apps/AutoTester/AutoTester/testCases/MarkersTestCase.swift
  ios/library/WhirlyGlobe-MaplyComponent/include/control/MaplyBaseViewController.h
  ios/library/WhirlyGlobe-MaplyComponent/include/private/MaplyBaseInteractionLayer_private.h
  ios/library/WhirlyGlobe-MaplyComponent/src/control/MaplyBaseInteractionLayer.mm
  ios/library/WhirlyGlobe-MaplyComponent/src/control/MaplyBaseViewController.mm
  ios/library/WhirlyGlobe-MaplyComponent/src/control/MaplyInteractionLayer.mm
  ios/library/WhirlyGlobe-MaplyComponent/src/control/WGInteractionLayer.mm
  ios/library/WhirlyGlobe-MaplyComponent/src/gestures/Maply3dTouchPreviewDelegate.mm
Labels: Support, User Feedback, bug, iOS, improvement

#1495 Topic/1468
  ios/apps/AutoTester/AutoTester/testCases/MaplyTestCase.m
  ios/apps/AutoTester/AutoTester/testCases/VectorsTestCase.mm
  ios/library/WhirlyGlobe-MaplyComponent/src/control/MaplyViewController.mm
  ios/library/WhirlyGlobe-MaplyComponent/src/control/WhirlyGlobeViewController.mm
Labels: User Feedback, bug, iOS

#1468 fix screenPointFromGeo
  ios/library/WhirlyGlobe-MaplyComponent/src/control/WhirlyGlobeViewController.mm
Labels: bug, iOS

#1496 Add per-object color support for wide vectors
  android/apps/AutoTesterAndroid/app/src/main/java/com/mousebirdconsulting/autotester/TestCases/WideVectorsTestCase.kt
  common/WhirlyGlobeLib/src/WideVectorManager.cpp
  ios/apps/AutoTester/AutoTester.xcodeproj/project.pbxproj
  ios/apps/AutoTester/AutoTester/testCases/VectorsTestCase.h
  ios/apps/AutoTester/AutoTester/testCases/VectorsTestCase.mm
  ios/apps/AutoTester/AutoTester/testCases/WideVectorsTestCase.mm
  ios/library/WhirlyGlobeLib/src/Dictionary_NSDictionary.mm
Labels: Android, Support, User Feedback, iOS, improvement
